<div class="page-header">
  <h1>
    <%= Setting.last[:theme_5] %>
    <% if Setting.last[:show_all_ideas] %>
    <% else %>
    <a href="/<%= @route %>s/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
    <% end %>
  </h1>
</div>

<%= render "layouts/search" %>

<br>

<%= render "layouts/card"%>

<%= render "layouts/jscpt_footer" %>


