<% @theme = @theme1 %>
<% @route = "theme1" %>

<div class="page-header">
  <h1>
    <%= Setting.last[:theme_1] %>
    <% if Setting.last[:show_all_ideas] %>
    <% else %>
    <a href="/<%= @route %>s/new" class="btn btn-lg btn-success"><i class="fa fa-plus"></i></a>
    <% end %>
  </h1>
</div>

<%= render "layouts/search" %>

<br>

<%= render :partial =>"layouts/card", :locals => { :theme => @theme, :cancel_route => @route } %>


<%= render "layouts/jscpt_footer" %>


