<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Theme1 #<%= @theme1.id %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Innovation</dt>
              <dd><%= @theme1.innovation %></dd>

              <dt>Reason</dt>
              <dd><%= @theme1.reason %></dd>

              <dt>Url</dt>
              <dd><%= @theme1.url %></dd>

              <dt>Image</dt>
              <dd><%= @theme1.image %></dd>

              <dt>Video</dt>
              <dd><%= @theme1.video %></dd>

              <dt>Innovation votes</dt>
              <dd><%= @theme1.innovation_votes %></dd>

              <dt>User</dt>
              <dd><%= @theme1.user_id %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/theme1s" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/theme1s/<%= @theme1.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_theme1/<%= @theme1.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
