<div class="row isotope-container">
  <% if Setting.last[:show_all_ideas] %>
  <% @themes.each do |theme| %>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <form>
            <a href="/cast_vote/<%= @route %>/<%=theme.id%>" class="btn btn-primary btn-xs">
              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            </a>
            <strong><%= theme.innovation %></strong>
          </h3>
        </form>
      </div>
      <div class="panel-body">

        <% if theme.video.present? %>
        <div class="embed-container">
          <%= embed(theme.video) %>
        </div>
        <% else %>
        <% if theme.image.present? %>
        <div>
          <img src="<%= theme.image %>" class="img-responsive center-block">
        </div>
        <% end %>
        <% end %>

        <dl>
<!--           <dt>What makes it so great?</dt>
          <dd><%= theme.reason %></dd>

          <% if theme.url.present? %>
          <dt>Website</dt>
          <dd><a href="/<%= theme.url %>"><%= theme.url %></a></dd>
          <% end %> -->

        </dl>
        <div class="btn-group btn-group-justified">
          <a href="/<%= @route %>s/<%= theme.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>

        </div>
      </div>
    </div>
  </div>
  <% end %>

  <% else %>

  <% @themes.each do |theme| %>
  <% if theme.user_id == current_user.id %>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= theme.innovation %></h3>
      </div>
      <div class="panel-body">
        <% if theme.video.present? %>
        <div class="embed-container">
          <%= embed(theme.video) %>
        </div>
        <% else %>
        <% if theme.image.present? %>
        <div>
          <img src="<%= theme.image %>" class="img-responsive center-block">
        </div>
        <% end %>
        <% end %>

        <dl>
<!--           <dt>What makes it so great?</dt>
          <dd><%= theme.reason %></dd>

          <% if theme.url.present? %>
          <dt>Website</dt>
          <dd><a href="/<%= theme.url %>"><%= theme.url %></a></dd>
          <% end %> -->

        </dl>
        <div class="btn-group btn-group-justified">
          <a href="/<%= @route %>s/<%= theme.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>

          <a href="/<%= @route %>s/<%= theme.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>

          <a href="/delete_<%= @route %>/<%= theme.id %>" class="btn btn-danger" rel="nofollow">
            <i class="fa fa-trash-o"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <% end %>
  <% end %>


</div>
